// Place all the styles related to the training_memos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header{
  height:100px;
  display:flex;
}
.header-left{
  width: 300px;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;

}
.header-main{
  width: calc(100vw - 400px);
  display: flex;
  justify-content: center;
}
.header-logo{
  height:100px;
  font-size: 60px;
}
.header-right{
  width:100px;
}

.contents{
  height: calc(100vh - 190px);
  display: flex;
}
.contents-left{
  width:300px;
}
.contents-left>p{
  font-size: 20px;
}
.contents-right{
  width:calc(100vw - 300px);
  background-color: white;
  border-width: 1px;
}
.memo-list{
  width:calc(100vw - 300px);
  height:calc(100vh - 190px);
  overflow: scroll;
}
.memo-box{
  border: 1px solid #a8b7c5; 
  height:300px;
}
.memo-footer{
  display: flex;
  border: 1px solid #a8b7c5;
  height:60px;
}
.memo-titlebox{
  width:80%;
  padding-left: 15px;

}
.memo-title{
  height:30px;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  padding-top: 10px;
}
.memo-time{
  height:20px;
}
.memo-btns{
  width:calc(100% - 80% );
  font-size: 15px;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
}
.memo-detail{
  border: 1px solid #a8b7c5;
}
.date-table{
  width: 300px;
  border-collapse:collapse;
  border-spacing: 0;
}
table th{
  text-align: center;
  color:#454545;
  border: 1px solid #a8b7c5;
  height:15px;
}
table td{
  text-align: center;
  border: 1px solid #a8b7c5;
  width:100px;
  height:15px;
}
.footer{
  height: 90px;
  background-color: lightsteelblue;
}